.formCheckbox {
   font-size: 1.5rem;
   color: #64728c;
   position: relative;
   width: 100%;
   display: flex;
   gap: 1.2rem;
   align-items: center;
   padding-left: 30px;
   margin-top: 1rem;

   &>input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      cursor: pointer;
   }
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 22px;
   width: 22px;
   border-radius: 5px;
   background-color: #eee;
}

/* On mouse-over, add a grey background color */
.formCheckbox:hover input~.checkmark {
   background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.formCheckbox input:checked~.checkmark {
   background-color: var(--color-primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.formCheckbox input:checked~.checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.formCheckbox .checkmark:after {
   left: 9px;
   top: 4px;
   width: 5px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}